<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900297632877-5t8rlbk7m0k8na12ta59nphj351oggia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900297632877-5t8rlbk7m0k8na12ta59nphj351oggia</string>
	<key>API_KEY</key>
	<string>AIzaSyAhX6AIqev9Xr5H8eNymqtZ0pCIN-tklYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>900297632877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atalayasa.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutterchatapp-b68a8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatapp-b68a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900297632877:ios:44385d3c36d75da4a5a364</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchatapp-b68a8.firebaseio.com</string>
</dict>
</plist>